<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>Menu <i class="fa fa-bars"></i>
                    </button>
                <a class="navbar-brand" href="#page-top">Test Manager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="click" translate >FEATURES</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click=openRegister()><span class="glyphicon glyphicon-user"></span> {{'REGISTER' | translate}}</a></li>
                    <li>
                        <a type="button" ng-click="changeLanguage('es')">{{'BUTTON_LANG_ES' | translate}} <span class="flag flag-es"></span> </a>
                    </li>
                    <li>
                        <a type="button" ng-click="changeLanguage('en')">{{'BUTTON_LANG_EN' | translate}} <span class="flag flag-gb"></a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 translate="INFO">Test Manager es una plataforma diseñada para la evaluación de cuestionarios</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <form ng-submit="doLogin()">
                                <div class="form-group">
                                    <label translate="USER" class="sr-only" for="username">Usuario</label>
                                    <input type="text" class="form-control input-sm" id="username" placeholder="{{'USER'|translate}}" ng-model="loginData.username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">Contraseña</label>
                                    <input type="password" class="form-control input-sm" id="password" placeholder="{{'PASS'|translate}}" ng-model="loginData.password">
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="submit" translate class="btn btn-lg btn-success btn-block">{{'LOG'}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2 translate="FUN">Diviértete Aprendiendo</h2>
                        <md-button translate="JOIN" md-colors="{background: 'teal'}" class="md-raised md-accent" ng-click=openRegister()>Únete a Test Manager</md-button>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-chart text-primary"></i>
                                    <h3 translate>{{'STATS'}}</h3>
                                    <p translate class="text-muted">{{'STATS1'}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-cloud-upload text-primary"></i>
                                    <h3 translate>{{'LEARN'}}</h3>
                                    <p translate class="text-muted">{{'LEARN1'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-pencil text-primary"></i>
                                    <h3 translate>{{'MAKE'}}</h3>
                                    <p translate class="text-muted">{{'MAKE1'}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-arrow-down-circle text-primary"></i>
                                    <h3 translate>{{'EXPORT'}}</h3>
                                    <p translate class="text-muted">{{'EXPORT1'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
</body>

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Test Manager 2017
                </div>
            </div>
        </div>
    </div>
</footer>