<div class="container">
    <div class="row row-content" ng-controller="TestController">
        <div class="col-md-5 col-md-offset-2">
            <div>
                <form class="form-horizontal" role="form" name="testForm" ng-submit="submitAnswer($event)" novalidate>
                    <md-card ng-repeat="preg in cuestionario.questions  track by $index">
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" ng-src={{preg.image}}>
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">{{preg.title}}</span>
                                <span class="md-subhead">Pregunta {{preg._id+1}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <img class="md-card-image" ng-src={{preg.image}} alt="">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{preg.pregunta}}</span>
                                <span class="md-subhead">Selecciona una respuesta</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r1, selected[$index])" ng-click="toggle(preg.r1,selected[$index])">
                                        {{preg.r1}}
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item">
                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r2, selected[$index])" ng-click="toggle(preg.r2, selected[$index])">
                                        {{preg.r2}}
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item">
                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r3, selected[$index])" ng-click="toggle(preg.r3, selected[$index])">
                                        {{preg.r3}}
                                    </md-checkbox>
                                </li>
                                <li class="list-group-item">
                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r4, selected[$index])" ng-click="toggle(preg.r4, selected[$index])">
                                        {{preg.r4}}
                                    </md-checkbox>
                                </li>
                            </ul>
                        </md-card-content>
                    </md-card>
                    <md-button type="submit" md-colors="{background: 'teal'}" class="md-raised md-accent" ng-disabled="testForm.$invalid">Listo !</md-button>
                </form>

            </div>
        </div>
    </div>