<ion-view view-title="{{'CLOUD' | translate}}">
    <ion-content>
         <div class="bar bar-header item-input-inset" >
            <label class="item-input-wrapper textbox-search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="{{'SEARCH' | translate}}" ng-model="filtText">
            </label>
         </div>
        <div ng-repeat="cuest in cuestionarios">
            <div ng-repeat="test in cuest.cuestionarios | filter:{ cuestCloud: 'true'} | filter:filtText">
                <md-card>
                    <md-card-title>
                        <md-card-title-text-media class="md-media-sm">
                            <span class="md-headline card-text">{{test.title}}</span>
                        </md-card-title-text-media>
                    </md-card-title>
                    <md-card-content>
                        <p>{{test.text}}</p>
                        <p>{{'AUTHOR' | translate}}:<strong><em> {{test.author}}</em></strong></p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <cite title="Source Title">{{test.createdAt | date : 'y/M/dd'}} </cite>
                        <md-button class="md-icon-button" aria-label="Save">
                            <md-icon class="fa fa-floppy-o fa-2x" ng-click="addtoMenu(test)"></md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </ion-content>
</ion-view>