<ion-modal-view>
    <ion-header-bar>
        <h1 class="title" translate>{{'REGISTTITLE'}}</h1>
        <div class="buttons">
            <button class="button button" ng-click="closeRegister()" translate>{{'CLOSE'}}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input item-floating-label">
          <span class="input-label" translate>{{'NAME'}}</span>
          <input type="text" placeholder="{{'NAME' | translate}}" ng-model="registration.firstname">
        </label>
                <label class="item item-input item-floating-label">
          <span class="input-label" translate>{{'SUBNAME'}}</span>
          <input type="text" placeholder="{{'SUBNAME' | translate}}" ng-model="registration.lastname">
        </label>
                <label class="item item-input item-floating-label">
          <span class="input-label" translate>{{'USER'}}</span>
          <input type="text" placeholder="{{'USER' | translate}}" ng-model="registration.username">
        </label>
                <label class="item item-input item-floating-label">
          <span class="input-label" translate>{{'PASS'}}</span>
          <input type="password" placeholder="{{'PASS' | translate}}" ng-model="registration.password">
        </label>
                <label class="item">
          <button class="button button-block button-positive"  style="background-color: teal" type="submit" translate>{{'REGISTER'}}</button>
        </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>