<ion-view view-title="{{'STAT' | translate}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider card-text" translate>
        {{'CHARTTITLE1'}}
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <div ng-repeat="cuest in cuestionario">
            <ion-item class="item-stable" ng-click="toggleTest(cuest);dialogo(cuest.tests)" ng-class="{active: isTestShown(cuest)}">
              <i class="icon" ng-class="isTestShown(cuest) ? 'ion-minus' : 'ion-plus'"></i> {{cuest.title}}
            </ion-item>
            <ion-item class="item-accordion" ng-repeat="stat in cuest.stats" ng-show="isTestShown(cuest)">
              <canvas id="line" class="chart chart-line" chart-data="stat.stats.data" chart-labels="stat.stats.labels" chart-series="stat.stats.series"
                chart-colors="stat.stats.colors" chart-dataset-override="datasetOverride2" chart-options="options2">
              </canvas>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider card-text" translate>
        {{'STATSTITLE'}}
      </div>
      <div class="item item-text-wrap">
        <div class="item tabs">
          <p translate> {{'SORT'}} </p>
          <a class="tab-item " ng-click="filter(1)">
            <i class="icon ion-at"></i>
          </a>
          <a class="tab-item " ng-click="filter(2)">
            <i class="icon ion-arrow-graph-up-right"></i>
          </a>
          <a class="tab-item" ng-click="filter(3)">
            <i class="icon ion-android-calendar"></i>
          </a>
        </div>
        <div ng-repeat="cuest in cuestionario">
          <div ng-repeat="test in cuest.tests | orderBy:filtText" ng-class="{'bs-callout bs-callout-success':test.cal>=70,'bs-callout bs-callout-warning': test.cal>=50 && test.cal<70,'bs-callout bs-callout-danger':test.cal<50}">
            <h4>{{cuest.title}}</h4>
            <p><strong><em>{{test.cal | number : 2}}%</em></strong></p>
            <cite title="Source Title">{{test.date}}</cite>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>