<div class="container">
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showFavorites">
            <h3>{{message}}</h3>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" class="md-warn md-hue-3" md-diameter="70">
            </div>
        </div>
        <div ng-repeat="test in favoritos" class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-if="showFavorites">
            <md-card>
                <img ng-src="{{test.image}}" class="md-card-image">
                <md-card-title>
                    <md-card-title-text-media class="md-media-sm">
                        <span class="md-headline">{{test.title}}</span>
                    </md-card-title-text-media>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{test.text}}
                    </p>
                </md-card-content>
                <md-fab-toolbar md-direction="left">
                    <md-fab-trigger class="align-with-text">
                        <md-button aria-label="Menu" md-colors="{background: 'teal'}" class="md-fab">
                            <md-icon class="fa fa-bars fa-lg"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-toolbar>
                        <md-fab-actions class="md-toolbar-tools">
                            <md-button ng-click="removeFavorite(test)" aria-label="Remove Cuest" class="md-icon-button">
                                <md-icon class="fa fa-trash-o fa-2x"></md-icon>
                            </md-button>
                            <md-button ng-click="exportFavorite(test,test.title)" aria-label="Export Cuest" class="md-icon-button">
                                <md-icon class="fa fa-download fa-2x"></md-icon>
                            </md-button>
                            <md-button aria-label="Stats" class="md-icon-button">
                                <a ui-sref="app.statDetails({id: test._id})">
                                    <md-icon class="fa fa-bar-chart fa-2x"></md-icon>
                                </a>
                            </md-button>
                            <md-button aria-label="Test" class="md-icon-button">
                                <a ui-sref="app.testDetails({id: test._id})">
                                    <md-icon class="fa fa-check-square-o fa-2x"></md-icon>
                                </a>
                            </md-button>
                        </md-fab-actions>
                    </md-toolbar>
                </md-fab-toolbar>
            </md-card>
        </div>
    </div>
</div>