<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>Menu <i class="fa fa-bars"></i>
                </button>
            <a class="navbar-brand">Test Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="app">Cuestionarios</a>
                </li>
                <li>
                    <a ui-sref="app.maker">Quiz Maker</a>
                </li>
                <li>
                    <a ui-sref="app.stats">Estadisticas</a>
                </li>
                <li>
                    <a ui-sref="app.favorites">Favoritos</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="loggedIn">
                    <a>{{username}}</a>
                </li>
                <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                        <span class="glyphicon glyphicon-log-in"></span> Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
