<div class="container">
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showStatInd">
            <h3>{{message}}</h3>
        </div>
        <div class="col-lg-6 col-sm-12" ng-if="showStatInd">
            <div class="panel panel-default">
                <div translate class="panel-heading">{{'STATSTITLE'}}</div>
                <div class="panel-body">
                    <p translate> {{'SORT'}} </p>
                    <md-button ng-click="filter(1)" aria-label="Cal">
                        <md-icon class="fa fa-check-square-o fa-2x"></md-button>
                    <md-button ng-click="filter(2)" aria-label="Date">
                        <md-icon class="fa fa-calendar-o fa-2x"></md-button>
                    <div ng-repeat="test in cuestionario.tests | orderBy:filtText" ng-class="{'bs-callout bs-callout-success':test.cal>=70,'bs-callout bs-callout-warning': test.cal>=50 && test.cal<70,'bs-callout bs-callout-danger':test.cal<50}">
                        <h4>{{cuestionario.title}}</h4>
                        <p><strong><em>{{test.cal | number : 2}}% correcto</em></strong></p>
                        <cite title="Source Title">{{test.date}}</cite>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div translate class="panel-heading">{{'CHARTITLE2'}}</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="cuestionario.stats[0].stats.data" chart-labels="cuestionario.stats[0].stats.labels"
                        chart-series="cuestionario.stats[0].stats.series" chart-colors="cuestionario.stats[0].stats.colors" chart-options="options1"
                        chart-dataset-override="datasetOverride1" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>