<div class="container">
    <div class="row row-content" ng-controller="TestController">
        <div class="col-xs-12" ng-if="!showCuestionario">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" ng-if="showCuestionario">
            <div ng-cloak>
                <md-content>
                    <form class="form-horizontal" role="form" name="form.testForm" ng-submit="submitAnswer($event)" novalidate>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab ng-repeat="preg in cuestionario.questions  track by $index" label="Pregunta {{$index+1}}">
                                <md-content class="md-padding">
                                    <md-card>
                                        <md-card-header>
                                            <md-card-header-text>
                                                <span class="md-title">{{preg.title}}</span>
                                                <span class="md-subhead">Pregunta {{$index+1}}</span>
                                            </md-card-header-text>
                                        </md-card-header>
                                        <img class="md-card-image" ng-src={{preg.image}} alt="">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">{{preg.pregunta}}</span>
                                                <span class="md-subhead">Selecciona una respuesta</span>
                                            </md-card-title-text>
                                        </md-card-title>

                                        <md-card-content ng-if="preg.tipo=='unica'">
                                            <!-- Si es tipo única -->
                                            <md-radio-group ng-model="answer.questions[$index].r " required>
                                                <md-radio-button value="{{preg.r1}}" class="md-primary">{{preg.r1}}</md-radio-button>
                                                <md-radio-button value="{{preg.r2}}" class="md-primary">{{preg.r2}}</md-radio-button>
                                                <md-radio-button value="{{preg.r3}}" class="md-primary">{{preg.r3}}</md-radio-button>
                                                <md-radio-button value="{{preg.r4}}" class="md-primary">{{preg.r4}}</md-radio-button>
                                            </md-radio-group>
                                        </md-card-content>

                                        <md-card-content ng-if="preg.tipo=='multiple'">
                                            <!-- Si es tipo múltiple -->
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r1, selected[$index])" ng-click="toggle(preg.r1,selected[$index])">
                                                        {{preg.r1}}
                                                    </md-checkbox>
                                                </li>
                                                <li class="list-group-item">
                                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r2, selected[$index])" ng-click="toggle(preg.r2, selected[$index])">
                                                        {{preg.r2}}
                                                    </md-checkbox>
                                                </li>
                                                <li class="list-group-item">
                                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r3, selected[$index])" ng-click="toggle(preg.r3, selected[$index])">
                                                        {{preg.r3}}
                                                    </md-checkbox>
                                                </li>
                                                <li class="list-group-item">
                                                    <md-checkbox class="md-primary" ng-checked="exists(preg.r4, selected[$index])" ng-click="toggle(preg.r4, selected[$index])">
                                                        {{preg.r4}}
                                                    </md-checkbox>
                                                </li>
                                            </ul>
                                        </md-card-content>
                                    </md-card>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                        <md-button type="submit" md-colors="{background: 'teal'}" class="md-raised md-accent" ng-disabled="form.testForm.$invalid">Listo !</md-button>
                    </form>
                </md-content>
            </div>
        </div>
    </div>
</div>