<div class="container">
    <div class="row row-content">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default" ng-if="tests.length!=0">
                <div class="panel-heading">Cuestionarios realizados</div>
                <div class="panel-body">
                    <p> Sort By: <input type="text" ng-model="filtText"></p>
                    <blockquote ng-repeat="test in tests | orderBy:filtText">
                        <p>{{test.title}}</p>
                        <p><em>{{(test.correctas/test.questions.length)*100| number:2}}% correcto</em></p>
                        <footer>Respuestas correctas{{test.correctas}} de {{test.questions.length}},<cite title="Source Title">{{test.date}}</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-if="tests.length==0" class="alert alert-warning" role="alert">
                <a ng-href="#!/menu" class="alert-link">No has realizado ningún cuestionario aún!.</a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default" ng-if="tests.length!=0">
                <div class="panel-heading">Estadisticas por dia</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options2">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="panel panel-default" ng-if="tests.length!=0">
                <div class="panel-heading">Estadisticas por semana</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options1"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
        </div>
    </div>
</div>