<div class="container">
    <div class="row row-content" ng-controller="MenuController">
        <div class="col-xs-12">
            <md-content class="md-padding" layout-xs="column" layout="row">
                <md-card ng-repeat="test in cuestionarios">
                    <img ng-src="{{test.image}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text-media class="md-media-sm">
                            <span class="md-headline">{{test.title}}</span>
                        </md-card-title-text-media>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{test.text}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon class="fa fa-heart fa-2x"></md-icon>
                        </md-button>
                    </md-card-actions>
                    <md-fab-toolbar md-direction="left">
                        <md-fab-trigger class="align-with-text">
                            <md-button aria-label="Menu" md-colors="{background: 'teal'}" class="md-fab">
                                <md-icon class="fa fa-bars fa-lg"></md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-toolbar>
                            <md-fab-actions class="md-toolbar-tools">
                                <md-button ng-click="exportCuest(test,test.title)" aria-label="Add User" class="md-icon-button">
                                    <md-icon class="fa fa-graduation-cap fa-2x"></md-icon>
                                </md-button>
                                <md-button aria-label="Add Group" class="md-icon-button">
                                     <a ng-href="#!/menu/{{test._id}}">
                                    <md-icon class="fa fa-check-square-o fa-2x"></md-icon>
                                    </a>
                                </md-button>
                            </md-fab-actions>
                        </md-toolbar>
                    </md-fab-toolbar>
                </md-card>
            </md-content>
        </div>
    </div>
</div>