<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Estadisticas por hora</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="stats.stats.data" chart-labels="stats.stats.labels" chart-series="stats.stats.series"
                        chart-options="options1" chart-dataset-override="datasetOverride1" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>