<div class="container">
    <div class="row row-content">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Cuestionarios realizados</div>
                <div class="panel-body">
                    <p> Ordenar por: </p>
                    <md-button ng-click="filter(1)" aria-label="Title">
                        <md-icon class="fa fa-font fa-2x"></md-icon>
                    </md-button>
                    <md-button ng-click="filter(2)" aria-label="Cal">
                        <md-icon class="fa fa-check-square-o fa-2x"></md-button>
                    <md-button ng-click="filter(3)" aria-label="Date">
                        <md-icon class="fa fa-calendar-o fa-2x"></md-button>
                    <div ng-repeat="cuest in cuestionario">
                        <div ng-repeat="test in cuest.tests | orderBy:filtText" ng-class="{'bs-callout bs-callout-success':test.cal>=70,'bs-callout bs-callout-warning': test.cal>=50 && test.cal<70,'bs-callout bs-callout-danger':test.cal<50}">
                            <h4>{{cuest.title}}</h4>
                            <p><strong><em>{{test.cal | number : 2}}% correcto</em></strong></p>
                            <cite title="Source Title">{{test.date}}</cite>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <h2>Estadisticas por hora</h2>
            <br>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" ng-repeat="cuest in cuestionario">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#{{cuest.id}}" aria-expanded="true" aria-controls="{{cuest.id}}">{{cuest.title}} <small>Estadisticas</small></a>
                        </h3>
                    </div>
                    <div role="tabpanel" class="panel-collapse collapse" id="{{cuest.id}}">
                        <div class="panel-body" ng-repeat="stat in cuest.stats">
                            <canvas id="line" class="chart chart-line" chart-data="stat.stats.data" chart-labels="stat.stats.labels" chart-series="stat.stats.series"
                                chart-colors="stat.stats.colors" chart-dataset-override="datasetOverride2" chart-options="options2">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>